<div *ngFor="let author of authors">
  <div class="col-md-6" *ngIf="!author.isEdit; else elseBlock">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Author Name</th>
          <th>Birth Date</th>
          <th>Country</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{author.authorName}}</td>
          <td>{{author.dateBirth}}</td>
          <td>{{author.country}}</td>
          <td><button class="btn btn-danger" (click)="deleteAuthor(author)"> Delete Author</button></td>
          <td><button class="btn btn-info" (click)="EditAuthor(author)">Update Author</button></td>
        </tr>
      </tbody>
    </table>
  </div>


  <ng-template #elseBlock>
    <div class="col-md-6">
      <h5>Ubah Data Murid</h5>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <input type="hidden" class="form-control" [(ngModel)]="author.EditId">
          </div>
          <div class="col-md-12">
            <input type="text" class="form-control" [(ngModel)]="author.EditName" placeholder="Update Name" required>
          </div>
          <div class="col-md-12">
            <input type="date" class="form-control" [(ngModel)]="author.EditBirth" placeholder="Update Date Birth"
              required>
          </div>
          <div class="col-md-12">
            <input type="text" class="form-control" [(ngModel)]="author.EditCountry" placeholder="Update Country"
              required>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-danger" (click)="author.isEdit = false">Abort</button>
      &nbsp;&nbsp;
      <button type="button" class="btn btn-success" (click)="UpdateAuthor(author)">Update</button>
    </div>
  </ng-template>

</div>