<h3 style="text-align: center;">Create Author</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="authorSaveForm">
        <div class="form-group">
          <label for="authorName">Author Name</label>
          <input type="text" class="form-control" formControlName="authorName" data-toggle="tooltip"
            data-placement="right" title="Enter Author Name">
          <div class="alert alert-danger" *ngIf="(authorName.touched) && (authorName.invalid)" style="margin-top: 5px;">
            <span *ngIf="authorName.errors.required">Author Name is Required</span>
          </div>
        </div>

        <div class="form-group">
          <label for="dateBirth"> Date of Birth</label>
          <input type="date" class="form-control" formControlName="dateBirth">
        </div>

        <div class="form-group">
          <label for="country"> Country </label>
          <input type="text" class="form-control" formControlName="country" data-toggle="tooltip" data-placement="right"
            title="Enter Author Country">
        </div>

        <button type="submit" class="btn btn-success" (click)="saveAuthor(saveAuthor)">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div [hidden]="!submitted">
      <h4>Author Added SuccessFully!</h4>
      <button (click)="addAuthorForm()" class='btn btn-primary'>Add More Author</button>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>